.container1{
  /* border: 2px solid red; */
  width: 98vw;
  height: 98vh;
  display:flex;
  align-items: center;
  justify-content: center;
  gap:10%; 
}
.container1 h1 {
    text-align: center;
  }

/* Tablet (width 768px–1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  .container1 {
    gap:1%
  }
.container1 h1 {
    text-align: center;
  }
  
}

/* Mobile (below 768px) */
@media (max-width: 767px) {
  .container1 {
    display: flex;
    flex-direction: column;
  }

  .container1 img {
    width: 250px;
    height: 140px;
  }
  .container1 h1 {
    text-align: center;
  }
}

.container2 .row1 .image1{  
  width: 400px; 
  height: 300px;
  object-fit: cover;
  border-radius: 14px;
}

/* Tablet (width 768px–1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  .container2 .row1 .image1{
    width: calc(400 / 1000 * 100%);
    height: calc(300 / 1000 * 100vw);
  }  
}

/* Mobile (below 768px) */
@media (max-width: 767px) {
  .container2 .row1 .image1{
    display: flex;
    flex-direction: column;
    width: calc(400 / 1000 * 100%);
    height: calc(300 / 1000 * 100vw);
  }
}

.container2 .row1 .image2div{  
  margin-left: 10%;
}

.container2 .row1 .image2{  
  width: 300px; 
  height: 200px;
  object-fit: cover;
  border-radius: 14px;
}

/* Tablet (width 768px–1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  .container2 .row1 .image2{
    width: calc(300 / 900 * 100%);
    height: calc(200 / 900 * 100vw);
  }  
}

/* Mobile (below 768px) */
@media (max-width: 767px) {
  .container2 .row1 .image2{
    display: flex;
    flex-direction: column;
    width: calc(300 / 900 * 100%);
    height: calc(200 / 900 * 100vw);
  }
}

.container2 .row1{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.container2 .row2 .image1div{  
  margin-left: 21%;
}
.container2 .row2 .image1{  
  width: 400px; 
  height: 300px;
  object-fit: cover;
  border-radius: 14px;
}

/* Tablet (width 768px–1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  .container2 .row2 .image1{
    width: calc(400 / 900 * 100%);
    height: calc(300 / 900 * 100vw);
  }  
}

/* Mobile (below 768px) */
@media (max-width: 767px) {
  .container2 .row2 .image1{
    display: flex;
    flex-direction: column;
    width: calc(400 / 900 * 100%);
    height: calc(300 / 900 * 100vw);
  }
}

.container2 .row2 .image2div{  
  margin-left: 10%;
}

.container2 .row2 .image2{  
  width: 300px; 
  height: 200px;
  object-fit: cover;
  border-radius: 14px;
}

/* Tablet (width 768px–1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  .container2 .row2 .image2{
    width: calc(300 / 900 * 100%);
    height: calc(200 / 900 * 100vw);
  }  
}

/* Mobile (below 768px) */
@media (max-width: 767px) {
  .container2 .row2 .image2{
    display: flex;
    flex-direction: column;
    width: calc(300 / 900 * 100%);
    height: calc(200 / 900 * 100vw);
  }
}

.container2 .row2{
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
}

.container2 .row3 .image1div{ 
  margin-left: 13%;
}
.container2 .row3 .image1{  
  width: 400px; 
  height: 300px;
  object-fit: cover;
  border-radius: 14px;
}

/* Tablet (width 768px–1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  .container2 .row3 .image1{
    width: calc(400 / 900 * 100%);
    height: calc(300 / 900 * 100vw);
  }  
}

/* Mobile (below 768px) */
@media (max-width: 767px) {
  .container2 .row3 .image1{
    display: flex;
    flex-direction: column;
    width: calc(400 / 900 * 100%);
    height: calc(300 / 900 * 100vw);
  }
}
.container2 .row3 .image2div{  
  margin-top: 10%;
}

.container2 .row3 .image2{  
  width: 544px; 
  height: 544px;
  object-fit: cover;
  border-radius: 14px;
  margin-left: 10%;
  align-self: flex-end;
}

/* Tablet (width 768px–1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  .container2 .row3 .image2{
    width: calc(544 / 900 * 100%);
    height: calc(544 / 900 * 100vw);
  }  
}

/* Mobile (below 768px) */
@media (max-width: 767px) {
  .container2 .row3 .image2{
    display: flex;
    flex-direction: column;
    width: calc(544 / 900 * 100%);
    height: calc(544 / 900 * 100vw);
  }
}

.container2 .row3{
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
}

.container2{
  display: flex;
  flex-direction: column;
  gap: 50px;
}